# Configurações de proxy da SEF/MG
proxy=http://proxy.fazenda.mg.gov.br:8003
https-proxy=http://proxy.fazenda.mg.gov.br:8003

# Registro privado para pacotes @sefmg
@sefmg:registry=https://pkgs.dev.azure.com/SEF-MG/_packaging/sefmg-javascript-packages/npm/registry/